html {
  overflow-y: scroll;
}


.container-one {
  height: 50px;
  width: auto;
  display: flex;
  background-color: #1F2937;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 24px;
  margin: 0;
  padding: 12px;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #e5e7eb;
}

.container-two {
  margin: 0;
  height: 375px;
  width: auto;
  display: flex;
  background-color: #1F2937;
  justify-content: space-evenly;
}

.body {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h3 {
  color: #f9faf8;
  font-weight: 900px;
  font-size: 48px;
  margin: 0;
  margin-top: 75px;
  padding: 0;
}

p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
  padding: 0; 
  width: 375px; 
}

button {
  width: 100px;
  height: 25px;
  border-radius: 7px;
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  margin-top: 10px;
  font-weight: bold;
}

.image {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  width: 300px;
  height: auto;
  margin-top: 75px;
  background-size: 300px 100px;
}

.container-three {
  display: flex;
  height: 50px;
  width: auto;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 36px;
  font-weight: 900px;
  color: #1f2937;
  margin-top: 60px;
}

.subtext {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
  gap: 45px;
  height: 300px;
}

.picture {
  width: 150px;
}

.par {
  width: 150px;
  text-align: center;
}

.sub-1,
.sub-2,
.sub-3,
.sub-4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-5 {
  height: 275px;
  background-color: #e5e7eb;
}